[Unit]
Description=Gunicorn server for SITENAME
After=network.target

[Service]
Restart=on-failure
User=cmemory
Group=cmemory
RuntimeDirectory=gunicorn
WorkingDirectory=/home/cmemory/sites/SITENAME/source
PIDFile=/var/run/gunicorn/pid
ExecStart=/home/cmemory/sites/SITENAME/virtualenv/bin/gunicorn \
     --pid /var/run/gunicorn/pid \
     superlists.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
